
.VSCodeCounter

*.DS_Store

galarp.egg-info/PKG-INFO
galarp.egg-info


dist
notebooks

*.py[cod]
__pycache__/

galarp/__pycache__
galarp/tests/__pycache__
galarp/hosts/__pycache__
galarp/builtins/__pycache__
galarp/builtins/tests/__pycache__
galarp/postprocessing/__pycache__
galarp/postprocessing/plotting/__pycache__

paper/figures
paper/temp