
.VSCodeCounter

*.DS_Store

galarp.egg-info/PKG-INFO
galarp.egg-info

docs/_build/latex

dist
notebooks

*.py[cod]
__pycache__/

galarp/__pycache__
galarp/tests/__pycache__
galarp/hosts/__pycache__
galarp/builtins/__pycache__
galarp/builtins/tests/__pycache__
galarp/postprocessing/__pycache__
galarp/postprocessing/plotting/__pycache__

paper/Debugging-Testing
paper/figures
paper/temp

.tox

.coverage
htmlcov/
testtemp/